:root {
  --color-1: #b33439;
  --color-2: #313a62;
  --color-3: #3f3f95;
  --color-4: #727597;
  --color-5: #e3d9dc;
  --color-6: #ffffff;
}

.glassy-navbar-wrapper {
  background: transparent;
  max-width: 1100px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
}

.glassy-navbar {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  width: 100%;
  overflow: visible !important;
  position: relative;
  z-index: 100;
  background: var(--color-6);
}

.glassy-navbar .navbar-brand {
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
}

.glassy-navbar .nav-link {
  transition: all 0.3s ease;
  color: #000;
  opacity: 0.9;
  font-weight: 400;
  background: none;
  border-radius: 8px;
  padding: 6px 16px;
}

.glassy-navbar .nav-link:hover {
  /* transform: scale(1.01); */
  text-shadow: 0 0 5px rgba(114, 117, 151, 0.5);
}

.m-large {
  margin-top: 7.5rem;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .glassy-navbar {
    flex-direction: column;
    padding: 15px;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .glassy-navbar .navbar-toggler {
    display: block;
    background: var(--color-6);
    border: 1.5px solid var(--color-3);
    font-size: 1.5rem;
    cursor: pointer;
  }
}